<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Jasmine Spec Runner</title>

    <% css.forEach(function(style){ %>
    <link rel="stylesheet" type="text/css" href="<%= style %>">
    <% }) %>

    <script src="vendor/steal/steal.js"
            config-path="cream.config.js"></script>


    <% with (scripts) { %>
    <% [].concat(polyfills,jasmine, boot, vendor, helpers).forEach(function(script){ %>
    <script src="<%= script %>"></script>
    <% }) %>
    <% }; %>


    <script>
        // Delay onLoad function until we are ready
        var startTests = window.onload;
        window.onload = null;

        function launchTest() {

            steal (

            <% scripts.src.forEach(function(script, i){ %>
                <% script = script.replace(/\\/g, '/') // replace all backward slashes to forward slash %>
                '<%= script %>' <%= i < scripts.src.length-1 ? ',' : '' %>
                        <% }) %>


                    , function(){


                steal('<%= [].concat(scripts.specs,scripts.reporters).join("','") %>', function(){
                    startTests();
                });

            })

        }
    </script>


    <script>
        launchTest();
    </script>

</head>
<body>
</body>
</html>
